body{
    background: #000;
    color: aliceblue;
}

#red,#yellow,#green,#blue{
border: 2px white solid;
height: 200px;
width: 400px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.container {
    display: flex;       
    gap: 10px;                   
}
#red{
    background: red;
}

#yellow{
    background: yellow;
}

#blue{
    background: blue;
}

#green{
    background: green;
}